---
import '../styles/global.css'
---

<section>
    <div class="w-full bg-theme-white rounded-3xl position-absolute bottom-0 mt-50 h-8">
        <p class="pl-10 py-1">
            © 2025 alexceend. Casi todos los derechos reservados
        </p>
    </div>
</section>