---

import '../styles/global.css';
import { Icon } from 'astro-icon/components'


---

<section class="max-h-screen py-12 flex justify-center items-start">
    <div class="grid grid-cols-5 grid-rows-5 gap-4 w-full max-w-5xl">
        <div class="col-span-3 row-span-4 aspect-video rounded-3xl overflow-hidden
        ">
            <img src="/miporfolio/alexceend-image.webp" alt="" class="object-cover w-full h-full" />
        </div>
        <div class="col-span-2 col-start-4 rounded-3xl flex justify-center items-center h-full bg-theme-beige">
            <div class="inline-block rotate-4">
                <a href="https://github.com/alexceend" class="flex items-center space-x-2"> 
                    <Icon name='github'/>
                    <span>My github !</span>
                </a>
            </div>
        </div>
        <div class="col-span-2 col-start-4 row-start-2 rounded-3xl flex justify-center items-center h-full bg-theme-light-blue">
            <div class="inline-block rotate-356">
                <a href="https://x.com/alexceend" class="flex items-center space-x-2"> 
                    <Icon name='twitter'/>
                    <span>My twitter !</span>
                </a>
            </div>
        </div>
        <div class="col-span-2 col-start-4 row-start-3 rounded-3xl flex justify-center items-center h-full bg-theme-beige">
            <div class="inline-block rotate-4">
                <a href="mailto:alexceend@gmail.com" class="flex items-center space-x-2"> 
                    <Icon name='email'/>
                    <span>Email me !</span>
                </a>
            </div>
        </div>
        <div class="col-span-2 col-start-4 row-start-4 rounded-3xl flex justify-center items-center h-full bg-theme-light-blue">
            <div class="inline-block rotate-356">
                <a href="https://wa.me/+34699737520" class="flex items-center space-x-2"> 
                    <Icon name='whatsapp'/>
                    <span>Send foot pics !</span>
                </a>
            </div>
        </div>
        <div class="col-span-5 row-start-5 rounded-3xl flex justify-center items-center h-full bg-primary shadow-md">
            <div class="inline-block text-center">
                <h1 class="text-2xl font-bold">Alexceend</h1>
                <p class="text-m">Estudiante de segundo año de Ingeniería de Software en la Universidad Politécnica de Madrid (UPM)</p>
            </div>
        </div>
    </div>    
</section>