---

import '../styles/global.css';
import { Icon } from 'astro-icon/components'


---

<section class="max-h-screen py-12 flex justify-center items-start">
    <div class="grid grid-cols-5 grid-rows-4 gap-4 w-full max-w-5xl">
        <div class="col-span-3 row-span-3 aspect-video rounded-3xl overflow-hidden
        ">
            <img src="/miporfolio/alexceend-image.webp" alt="" class="object-cover w-full h-full" />
        </div>
        <div class="col-span-2 col-start-4 rounded-3xl flex justify-center items-center h-full bg-theme-beige">
            <div class="inline-block rotate-4 hover:-rotate-4 transition-transform">
                <a href="https://github.com/alexceend" target="_blank" class="flex items-center space-x-2"> 
                    <Icon name='github'/>
                    <span>My github !</span>
                </a>
            </div>
        </div>
        <div class="col-span-2 col-start-4 row-start-2 rounded-3xl flex justify-center items-center h-full bg-theme-light-blue">
            <div class="inline-block -rotate-4 hover:rotate-4 transition-transform">
                <a href="mailto:alexceend@gmail.com" target="_blank" class="flex items-center space-x-2"> 
                    <Icon name='email'/>
                    <span>Email me !</span>
                </a>
            </div>
        </div>
        <div class="col-span-2 col-start-4 row-start-3 rounded-3xl flex justify-center items-center h-full bg-theme-beige">
            <div class="inline-block rotate-4 hover:-rotate-4 transition-transform">
                <a href="https://wa.me/+34699737520" target="_blank" class="flex items-center space-x-2"> 
                    <Icon name='whatsapp'/>
                    <span>Contact me !</span>
                </a>
            </div>
        </div>
        <div class="col-span-5 row-start-4 rounded-3xl flex justify-center items-center h-full bg-primary shadow-md">
            <div class="inline-block text-center text-white">
                <h1 class="text-2xl font-bold">Alexceend</h1>
                <p class="text-m">Estudiante de Ingeniería de Software en la Universidad Politécnica de Madrid (3er año)</p>
                <p class="text-m">Ambicioso e inquieto por descubrir nuevos retos y conocimientos</p>
            </div>
        </div>
    </div>    
</section>